@font-face {
	font-family: 'Carnivalee Freakshow';
	src: url(../../assets/fonts/CarnivaleeFreakshow.woff2) format('woff2'),
	url(../../assets/fonts/CarnivaleeFreakshow.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}